<!-- <div style="text-align:center">
  <h1>
    Welcome!
  </h1>
  <button (click)="getData()">Fetch Headlines</button>
 </div> -->

 .<!--Truncated for brevity -->
<button (click)="getData()">Fetch Data</button>

<!--The code to display images -->
<div *ngFor="let x of List;let i=index" >
<h3>
   {{ x.title }}
 </h3>
</div>